.basic-grid{
  display: flex;
  flex-direction: row;
}
.menu-block{
  border-right: 1px solid $borderGray;
  padding-top: 2.5em;
}
.wrap-block {
  &__logo-link {
    text-decoration: none;
  }
}

.logo-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 4.1em;
  margin-right: 3.8em; 
}

.logo-text {
  &__name {
    font-family: "Quicksand";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    color: $cornflower;
  }
}

.logo-img {
  font-size: 25px;
  color: $cornflower;
  padding-right: 1em;
}

.nav-block {
  padding-top: 12.5em;
  padding-left: 2em;
  padding-bottom: 20em;

  &__link {
    text-decoration: none;
  }
}

.list-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;

  &__text {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 500;
    color: $veryDarkGray;
  }
}

.menu-img {
  font-size: 20px;
  color: $grayishBlue;
  padding-right: 2em;
}
