// Сетка
$gutter: 15px;
$site-width: 100%;

// Шрифт
$font: "Roboto", sans-serif;

// breakpoints
$sm: 320px;
$md: 768px;
$lg: 1366px;
// Colors
$cornflower: #69A9F2;
$grayishBlue: #a5aec7;
$veryDarkGray: #212121;
$borderGray: #E6E9F3;