//- Basic layout
mixin base-page(page)
    doctype html
    html(lang = "en")
        head
            include ../meta/_head
        body
            if block
                block
            include ../meta/_scripts
