-
    var menuButton=[
        {
            link: '#',
            img: 'icon-icon-assessment',
            text: 'Home'
        },
        {
            link: '#',
            img: 'icon-icon-assessment',
            text: 'Classes'
        },
        {
            link: '#',
            img: 'icon-icon-assessment',
            text: 'Calendar'
        },
        {
            link: '#',
            img: 'icon-icon-assessment',
            text: 'Users'
        },
        {
            link: '#',
            img: 'icon-icon-assessment',
            text: 'Assessment'
        },
        {
            link: '#',
            img: 'icon-icon-assessment',
            text: 'Course'
        },
        {
            link: '#',
            img: 'icon-icon-assessment',
            text: 'My Files'
        },
        {
            link: '#',
            img: 'icon-icon-assessment',
            text: 'Results'
        }
    ];

-
    var headerNav=[
        {
          link: '#',
          text: 'Calendar & Timetable'
        },
        {
            link: '#',
            text: 'Timetable Planner'
        },
        {
            link: '#',
            text: 'Timetable Structure'
        },
        {
            link: '#',
            text: 'Academic Year'
        },
    ]