include ../../../node_modules/bemto.pug/bemto
include ../components/_vars
include ../components/_mixin

+base-page
    .basic-grid
        +b.menu
            include ../components/_menu
        +b.header
            include ../components/_header